# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\DOK\WSTI vizja materiały\VI\PROJEKTOWANIE SYSTEMÓW\HIBEARNATE & MAVEN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
